* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0F1B4C;
}

html , body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*============ Common ==============*/
a {
    text-decoration: none;
}

.btn {
    min-width: 98px;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    padding: 14.5px 16px;
}

.btn-170 {
    min-width: 170px;
}

.btn:hover {
    opacity: 0.9;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.line-clamp {
    display: -webkit-box;
    /* --line-clamp mặc định giá trị là 2, muốn thay đổi thì khai báo lại ở chỗ khác */
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;

}

/* header */

.fixed-header {
    background: #E6F0FF;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.active {
    font-weight: 700;
}

.hero-wrap {
    background: #E6F0FF;
    height: calc(100vh - 90px);
    position: relative;
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
   
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .registration {
    margin-left: auto;
}

.navbar ul a {
    /* font-weight: 500; */
    font-size: 1.4rem;
    padding: 8px 14px;
    color: #4F5361;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.registration .action-link {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.registration .action-btn {
    padding: 9.5px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 138px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.19;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5A6473;
}

.about-us {
    margin-top: 40px;
    min-width: 170px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/*============ Client ==============*/

.client {
    margin-top: 79px;
}

.client .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7D8589;
    margin-top: 23px;
}

.client .client-trust {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
}

.client .client-trust a {
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 42px;
    border-radius: 12px;
}

.client .client-trust a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.client .client-trusts .amazon-img {
    border: 1px solid #ccc;
}

/*============ Guides ==============*/

.guide {
    margin-top: 40px;

}

.guide .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
    position: relative;
    padding-top: 93px;
}

.guide .sub-title::before {
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
}

.guide .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5A6473;
    width: 459px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.list-guides {
    margin-top: 70px;
}

.guide .list-guides {
    display: flex;
    justify-content: center;
}


.list-guides .icon {
    margin-bottom: 26px;
}

.list-guides .item-guide {
    padding: 0 70px;
    text-align: center;
}

.list-guides .item-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.10;
    color: #3B3C45;
}

.list-guides .buy-guide {
    margin-bottom: 10px;
}

.list-guides .buy-guide .how-to {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    color: #0689FF;
}

.list-guides .item-guide .arrow {
    margin-left: 5px;
}

.guide .sell-full {
    margin-top: 50px;
    display: flex;
    padding-bottom: 79px;
}

.guide .sell-full a {
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #FFFFFF;
}

/*============ Featured ==============*/

.featured {
    margin-top: 41px;
    height: 727px;
    background: #F5FAFE;
}

.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
    padding-top: 110px;
    margin-bottom: 10px;
}

.featured .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.88;
    color: #5A6473;
    margin-top: 11px;
    margin-bottom: 22px;
    --line-clamp: 3;
}

.featured .view-property {
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689FF;
    position: relative;
}

.featured .view-property img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
}

.list-featured {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.list-featured .item-featured {
    width: 350px;
    height: 227px;
    object-fit: cover;
}

.list-featured .item-featured .thumb-nail {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.list-featured .item-featured .desc-thumb {
    background: #FFFFFF;
    padding: 17px 20px 24px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #A3A6AB;
    margin-top: -3px;
}

.list-featured .item-featured .thumb-title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #000339;

}

.list-featured .detail-desc {
    display: flex;

}

.list-featured .detail-desc span {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #4D4D52;
    margin-left: 10px;
}

.list-featured .detail-desc li {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

/* Statistic */

.stat {
    margin-top: 75px;

}

.stat .content {
    width: 1048px;
    padding-top: 50px;
}

.stat .img-block,
.stat .info {
    width: 50%;
}

.stat .img-block {
    position: relative;

}

.stat .img-block .image {
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    margin-left: auto;
}

.stat .info {
    padding: 79px 0 0 165px;
}

.stat .info .sub-title {
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 45px;
    color: #000339;
    position: relative;
}

.stat .info .sub-title::before {
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
    position: absolute;
    top: -10px;
}


.stat .info .desc {
    width: 309px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 30px;
    /* or 188% */
    color: #5A6473;
}

.stat .img-block .stats {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    background: #FFFFFF;
    border-radius: 0px 0px 12px 12px;
    padding: 45px 22px 40px;
}

.stats .value {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 26px;
    /* identical to box height, or 100% */
    letter-spacing: 0.01em;
    color: #000339;
}

.stats .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.3rem;
    width: 194px;
    color: #A7A7A7;
}

.stats .separate {
    margin-top: 25px;
    height: 1.2px;
    background: #E9E9E9;
}

.avartar-block {
    margin-top: 26px;
    display: flex;
    gap: 16px 14px;
    flex-wrap: wrap;
}

.avartar-block .avartar-group {
    display: flex;

}

.avartar-block .avartar-group .avartar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
}

.avartar-block .avartar-group .avartar:first-child {
    margin-left: 0;
}

.row-qty {
    margin-top: 110px;
    padding: 0 32px;
}

.row-qty .qty {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}

.row-qty .qty-desc {
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #7B8087;
}

/*============ Subcription ==============*/
.subcription {
    margin-top: 90px;
}

.subcription .body {
    position: relative;
    background: #063183;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.subcription .info {
    width: 502px;
    max-width: 100%;
    height: 370px;
    padding-left: 80px;
    padding-top: 24px;
}

.subcription .info .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #FFFFFF;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.subcription .info .desc {
    font-weight: 400;
    font-size: 1.6rem;
    color: #FFFFFF;
    opacity: 0.75;
    margin-top: 15px;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.subcription .info .sub-btn {
    display: inline-block;
    font-weight: 500;
    font-size: 1.3rem;
    color: #002366;
    padding: 14px 43px 16px 42px;
    margin-top: 34px;
    background: #FFFFFF;
    border-radius: 12px;
}

.subcription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/*============ Footer ==============*/

footer {
    margin-top: 55px;
    padding-top: 50px;
}

footer .more-info {
    display: flex;
    gap: 185px;
}

footer .more-info .item-title {
    padding-bottom: 42px;
    font-weight: 700;
    font-size: 2rem;
    color: #1C1C1D;
    font-family: "lato", sans-serif;
}

.item-info .list .item {
    padding-bottom: 18px;
    white-space: nowrap;
}

.item-info .list .item a {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7A7A7E;
}

.item-info p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #7A7A7E;
}

.social-icon-list {
    display: flex;
    margin-top: 40px;
}

.social-icon-list .social-icon-item {
    margin-right: 16px;
}

.footer-row {
    padding: 81px 0 58px;
    align-items: center;
}

.copyright {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 21px;
    color: #C2C2C2;
}